<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start"> <ion-back-button defaultHref='slides/form'></ion-back-button> 
    <ion-title style="font-size: 20px; font-weight: 550;">
     Mon dossier santé
    </ion-title>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <br>
  <ion-item color="primary">
    <ion-label style="font-size: 18px; font-family: initial;">
      ALLERGIES
    </ion-label>
  </ion-item>

<ion-item>
  <ion-label color="secondary" style="font-size: 19px; font-weight: 550;">Médicaments</ion-label>
  <ion-input style="font-size: 18px; color: #000000;font-weight: 500;" placeholder="Allergie à"></ion-input>
</ion-item>

<ion-item>
  <ion-label color="secondary"style="font-size: 19px; font-weight: 550;">Asthme</ion-label>
  <ion-input style="font-size: 18px; color: #000000;font-weight: 500;" placeholder="Allergie à"></ion-input>
</ion-item>

<ion-item>
  <ion-label color="secondary" style="font-size: 19px;  font-weight: 550;">Peau,Eczema...</ion-label>
  <ion-input style="font-size: 18px; color: #000000;font-weight: 500;" placeholder="Allergie à"></ion-input>
</ion-item>

<ion-item>
  <ion-label color="secondary" style="font-size: 19px;  font-weight: 550;">Aliments</ion-label>
  <ion-input style="font-size: 18px; color: #000000;font-weight: 500;" placeholder="Allergie à"></ion-input>
</ion-item>

<ion-item>
  <ion-label color="secondary" style="font-size: 19px;  font-weight: 550;">Insectes</ion-label>
  <ion-input style="font-size: 18px; color: #000000;font-weight: 500;" placeholder="Allergie à"></ion-input>
</ion-item>

<ion-item>
  <ion-label  color="secondary" style="font-size: 19px; font-weight: 550;">Autres</ion-label>
  <ion-input  style="font-size: 18px; color: #000000;font-weight: 500;" placeholder="Allergie à"></ion-input>
</ion-item>
<br>
<ion-item color="primary">
  <ion-label style="font-size: 18px; font-family: initial;">
   DERNIERS BILANS MEDICAUX
  </ion-label>
</ion-item>
<ion-item>
<ion-thumbnail slot="start">
  <img src="https://static.thenounproject.com/png/625182-200.png">
</ion-thumbnail>
<ion-label style="color:#272829;font-weight: 550;font-size: 19px;" >Ajouter</ion-label>
</ion-item> 

<ion-item color="primary">
  <ion-label style="font-size: 18px; font-family: initial;">
   CARTE DE GROUPE SANGUIN
  </ion-label>
</ion-item>

<ion-item>
  <ion-thumbnail slot="start">
    <img src="https://static.thenounproject.com/png/625182-200.png">
  </ion-thumbnail>
  <ion-label style="color:#272829;font-weight: 550;font-size: 19px;" >Ajouter</ion-label>
  </ion-item>

<ion-item color="primary">
  
  <ion-label style="font-size: 18px; font-family: initial;">
   VACCINATION
  </ion-label>
</ion-item>

<ion-item>
  <ion-thumbnail slot="start">
    <img src="https://static.thenounproject.com/png/625182-200.png">
  </ion-thumbnail>
  <ion-label style="color:#272829;font-weight: 550;font-size: 19px;" >Ajouter</ion-label>
  </ion-item>

<ion-item color="primary">
  <ion-label style="font-size: 18px; font-family: initial;">
   DERNIERES ORDONNANCES/TRAITEMENTS
  </ion-label>
</ion-item>

<ion-item>
  <ion-thumbnail slot="start">
    <img src="https://static.thenounproject.com/png/625182-200.png">
  </ion-thumbnail>
  <ion-label style="color:#272829;font-weight: 550;font-size: 19px;" >Ajouter</ion-label>
  </ion-item>

<ion-item color="primary">
  <ion-label style="font-size: 18px; font-family: initial;">
   REGIME
  </ion-label>
</ion-item>
<br>
<ion-item color="primary">
  <ion-label style="font-size: 18px; font-family: initial;">
    Port d'une pile cardiaque (pace-maker).
  </ion-label>
</ion-item>
<br>
<ion-item color="primary">
  <ion-label style="font-size: 18px; font-family: initial;">
     Prothéses
  </ion-label>
</ion-item>
<br>
<ion-item color="primary">
  <ion-label style="font-size: 18px; font-family: initial;">
   soins psychologiques
  </ion-label>
</ion-item>
<br>
<ion-item color="primary">
  <ion-label style="font-size: 18px; font-family: initial;">
    don d'organe
  </ion-label>
</ion-item>
<ion-item>
  <ion-thumbnail slot="start">
    <img src="https://static.thenounproject.com/png/625182-200.png">
  </ion-thumbnail>
  <ion-label style="color:#272829;font-weight: 550;font-size: 19px;" >Ajouter</ion-label>
</ion-item>

<br> <br>


 
</ion-content>

