<ion-header>
  <ion-toolbar>
   
    <ion-buttons slot="start"> <ion-back-button defaultHref='/contact'></ion-back-button>    
    <ion-title><h1>Créer un contact</h1></ion-title>
  </ion-buttons>
  </ion-toolbar>
</ion-header> 

<ion-content>
                        
  <br>
  <ion-item> 
    <ion-avatar slot="start">
      <img src="https://oasys.ch/wp-content/uploads/2019/03/photo-avatar-profil.png">
    </ion-avatar>
    <ion-label style="color:rgb(22, 2, 114);font-weight: 550;" >Ajouter</ion-label>
  </ion-item>
  
  <ion-item>
     <ion-input style="font-size: 18px; color: rgb(22, 2, 114); font-weight: 550;" placeholder="Nom ou Libille" required="required" ></ion-input>
  </ion-item>
  <ion-item>
     <ion-input style="font-size: 18px; color:rgb(22, 2, 114); font-weight: 550;" placeholder="Prénom" required="required" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input style="font-size: 18px; color: #847d7d; font-weight: 550;" placeholder="Structure/Prof./statut" required="required" ></ion-input>
 </ion-item>
  
  <ion-item></ion-item>
  
  <ion-item>
    <ion-input type="text" style="font-size: 18px; color: rgb(45, 148, 151) ; font-weight: 550;" placeholder="Tél. Fixe" required="required"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" style="font-size: 18px; color: rgb(45, 148, 151); font-weight: 550;" placeholder="Tél. Portable" required="required"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" style="font-size: 18px; color: rgb(45, 148, 151); font-weight: 550;" placeholder="Fax" required="required"></ion-input>
  </ion-item>
  
  
  <ion-item></ion-item>
  
  <ion-item>
    <ion-input type="text" style="font-size: 18px; color: rgb(22, 2, 114) ; font-weight: 550;" placeholder="Adresse" required="required"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" style="font-size: 18px; color: rgb(22, 2, 114) ; font-weight: 550;" placeholder="Adresse E-mail" required="required"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" style="font-size: 18px; color: rgb(22, 2, 114) ; font-weight: 550;" placeholder="Site internet" required="required"></ion-input>
  </ion-item>

  <ion-item></ion-item>
  <ion-item>
    <ion-input type="text" style="font-size: 18px; color: rgb(22, 2, 114) ; font-weight: 550;" placeholder="Note" required="required"></ion-input>
  </ion-item>
  <br><br>

  <ion-button  
  style="padding-left: 92px;
  margin: 12px;
  font-size: 20px;
  " color="secondary" >Valider</ion-button>

  
      
                         <!--button add-->
<div class="partcn">                     
       
      
      





</div>





</ion-content>
