<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="bordered">
        <ion-menu-button menu="main-menu">
        </ion-menu-button>
      </ion-button>
    </ion-buttons>
    <ion-title><h1>contact</h1></ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content>
                        <!--for search-->
   <br>
            <ion-searchbar></ion-searchbar>
      
                         <!--button add-->
   <div class="partcn">                     
       
      <br>
      <h2 style="color: rgb(22, 2, 114);
      text-align: center;">mes contacts</h2>
  
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://oasys.ch/wp-content/uploads/2019/03/photo-avatar-profil.png">
        </ion-avatar>
        <ion-label style="font-size: 17px; color: #847d7d; font-weight: 550;"  required="required" >nom prenom</ion-label>
        <br>
        <ion-label style="font-size: 17px; color: #847d7d; font-weight: 550;"  required="required" >Structure/Prof./statut</ion-label>

      </ion-item>
     <br>
     <ion-item>
      <ion-avatar slot="start">
        <img src="https://oasys.ch/wp-content/uploads/2019/03/photo-avatar-profil.png">
      </ion-avatar>
      <ion-label style="font-size: 18px; color: #847d7d; font-weight: 550;"  required="required" >nom prenom</ion-label>
   </ion-item>
   <br>
   <ion-item>
    <ion-avatar slot="start">
      <img src="https://oasys.ch/wp-content/uploads/2019/03/photo-avatar-profil.png">
    </ion-avatar>
    <ion-label style="font-size: 18px; color: #847d7d; font-weight: 550;"  required="required" >nom prenom</ion-label>
 </ion-item>
 <br>
 <ion-item>
  <ion-avatar slot="start">
    <img src="https://oasys.ch/wp-content/uploads/2019/03/photo-avatar-profil.png">
  </ion-avatar>
  <ion-label style="font-size: 18px; color: #847d7d; font-weight: 550;"  required="required" >nom prenom</ion-label>
</ion-item> 
  <br> <br>


<ion-content>


  <!-- fab placed to the (vertical) center and end -->
  <ion-fab vertical="center" horizontal="end" slot="fixed"  routerLink="nvcontact">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>


</div>





</ion-content>
