ion-header {

  ion-toolbar,
  ion-item {
    --background: #ffffff;
    background: rgba(83, 236, 247, 0.719);
    padding: 10px;
  }

  ion-toolbar {
    .bordered {
      --color: #1013d3;
      --border-radius: 10px;
      --box-shadow: 5px 5px 10px #000000, -5px -5px 10px #dbf1f3;
    }
  }

  ion-title {
    color: rgb(22, 2, 114);
    text-align: center;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
  padding-top: 50px;
}

.input {
  height: 37px;
  width: 300px;
  margin-top: 0px;
}

.btn {
  width: 50px;
  height: 35px;
  background: linear-gradient(90deg, #abbbe2 0%, #6c90f1 100%);
}

.buttonAdd {

  bottom: 0;
  height: 50px;
  width: 90px;
  border-radius: 25%;
  background: linear-gradient(90deg, #a2b1d8 0%, #4d71d7 100%);
  margin-top: 10px;
  margin-right: 10px;
  font-size: 15px;

}

.lesNum {
  margin-top: 35px;
  margin-bottom: 70px;

}

ion-content {

  --background: linear-gradient(90deg, rgba(228, 234, 248, 0.719) 0%, rgba(192, 205, 250, 0.719) 35%, rgba(151, 172, 248, 0.719) 100%);
}
