<ion-header [fullscreen]="true">
  <ion-toolbar  color="secondary">
    <ion-title >Création du compte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<br>
<ion-item> 
  <ion-avatar slot="start">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRku-od42ZteMyr_3cjSqJwhjGCSF2X9CjOWQ&usqp=CAU">
  </ion-avatar>
  <ion-label style="color:#5fa8e4" >Ajouter</ion-label>
</ion-item>

<ion-item>
   <ion-input style="font-size: 18px; color: #847d7d; font-weight: 550;" placeholder="*Nom" required="required" ></ion-input>
</ion-item>
<ion-item>
   <ion-input style="font-size: 18px; color: #847d7d; font-weight: 550;" placeholder="*Prénom" required="required" ></ion-input>
</ion-item>
<ion-item>
  <ion-label style="font-size: 18px; color: #847d7d; font-weight: 550;">*Date de naissance</ion-label>
  <ion-datetime displayFormat="MM DD YY" placeholder="Select Date" style="font-size: 16px;color: #5fa8e4;" required="required"></ion-datetime>
</ion-item>

<ion-item></ion-item>

<ion-item>
  <ion-input type="email" style="font-size: 18px; color: #847d7d; font-weight: 550;" placeholder="*Email" required="required"></ion-input>
</ion-item>
<ion-item>
  <ion-input  style="font-size: 18px; color: #847d7d; font-weight: 550;" placeholder="Adresse"></ion-input>
</ion-item>
<ion-item>
  <ion-input style="font-size: 18px; color: #847d7d; font-weight: 550;" placeholder="Ville"></ion-input>
</ion-item>

<ion-item></ion-item>

<ion-item>
  <ion-input type="email" style="font-size: 18px; color: #847d7d; font-weight: 550;" placeholder="*Taille (cm)" required="required"></ion-input>
</ion-item>
<ion-item>
  <ion-input  style="font-size: 18px; color:  #847d7d; font-weight: 550;" placeholder="*Poids (kg)" required="required"></ion-input>
</ion-item>
<ion-item><ion-label style="font-size: 18px;
  font-weight:550;color:#585353"  ><span style="color: #5fa8e4;" >Assurance santé de base </span><br>Mon attestation d'assurance maladie</ion-label></ion-item>
<ion-item>
  
  <ion-avatar slot="start">
    <img src="https://static.thenounproject.com/png/625182-200.png">
  </ion-avatar>
  <ion-label style="color:#5fa8e4" >Ajouter</ion-label>
</ion-item>
<br><br>

<ion-button color="danger" routerLink="/dossier">Remplir mon dossier santé</ion-button>
  <ion-item>
    <ion-label style="color:#5fa8e4 ;font-size: 18px;">* Ces champs sont obligatoires</ion-label>
  </ion-item>
<br>
  <ion-button  
  style="padding-left: 92px;
  margin: 12px;
  font-size: 20px;
  font-family: initial;" color="secondary" routerLink="/home" >Valider</ion-button>






</ion-content>
