<ion-app>
  <ion-menu menuId="main-menu" content-id="main">
     <ion-header>
       <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button class="bordered">
            <ion-menu-button menu="main-menu">
              <ion-icon name="apps"></ion-icon>
            </ion-menu-button>
          </ion-button>
        </ion-buttons>
         <ion-title>Menu</ion-title>
       </ion-toolbar>
     </ion-header>
     <ion-content>
       <div class="menu-header-bg"></div>
       <div class="header-content">
          <img src="./assets/photo1.jpg" >
          <ion-label>
            <h2>DocHealth</h2>
            <p>votre cahier de santé</p>
          </ion-label>
       </div>
       
        <ion-list class="menu-items">
          <ion-menu-toggle>
             <ion-items routerLink="/home"> 
            <ion-button class="borde">
              ACCUEIL<ion-icon name="home" slot="start"></ion-icon>
            </ion-button>
          </ion-items><br>
          </ion-menu-toggle>
         
          <ion-menu-toggle>
            <ion-items routerLink="/contact">
            <ion-button class="borde">
              CONTACT<ion-icon name="call" slot="start"></ion-icon>
            </ion-button>
          </ion-items><br>
          </ion-menu-toggle>
          
          <ion-menu-toggle>
            <ion-items routerLink="rendez-vous">
            <ion-button class="borde">
              RENDEZ-VOUS<ion-icon name="pulse" slot="start"></ion-icon>
            </ion-button>
          </ion-items><br>
          </ion-menu-toggle>
          
            <ion-menu-toggle>
              <ion-items routerLink="urgence">
            <ion-button class="borde">
              URGENCE<ion-icon name="medkit" slot="start"></ion-icon>
            </ion-button>
          </ion-items><br>
            </ion-menu-toggle>

          <ion-menu-toggle>
              <ion-items routerLink="propos">
            <ion-button class="borde">
              A PROPOS<ion-icon name="document" slot="start" ></ion-icon>
            </ion-button>
          </ion-items><br>
            </ion-menu-toggle>

        </ion-list>
        <div class="action-button">
          <ion-button routerLink="login">
          <ion-icon slot="start" name="exit" ></ion-icon>Déconnexion
       </ion-button>
      </div>
     </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
