 * {
   font-family: lato;
 }

 .menu-header-bg {
   height: 180px;
   width: 350px;
   background: #7590d6;
   background: linear-gradient(90deg, #7590d6 0%, #4d71d7 100%);
   box-shadow: 0px 1px 10px #000000;
   transform: rotate(-15deg);
   border-radius: 10px 10px 10px 50px;
   margin-left: -18px;
   margin-top: -50px;
   margin-bottom: 60px;
 }

 .header-content {
   position: absolute;
   top: 30px;
   left: 15px;
   display: flex;
   align-items: center;
 }

 img {
   width: 120px;
   height: 100px;
   border-radius: 50%;
   border: 5px solid #5e7ccc;
   margin-right: 14px;

 }

 h2 {
   font-weight: 300;
   color: aliceblue;
   font-size: 130%;
 }

 p {
   font-size: 12px;
   color: azure;
   font-weight: 100;
   letter-spacing: 0.4px;
 }

 .action-button {
   display: flex;
   justify-content: right;
   margin-bottom: 20px;

 }

 ion-button {
   text-transform: capitalize;
   font-weight: 300;
   --background: #628cff;
   --border-radius: 7px;
   --box-shdow: none;
 }

 ion-icon {
   margin-right: 1px;
 }


 ion-content {
   ion-list {
     ion-items {
       ion-button {
         --background: linear-gradient(90deg, rgba(214, 225, 252, 0.719) 0%, rgba(67, 96, 201, 0.719) 35%, rgba(47, 85, 224, 0.719) 100%);

         width: 300px;
         height: 55px;
         color: black;
       }
     }
   }

 }
