<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="bordered">
        <ion-menu-button menu="main-menu">
        </ion-menu-button>
      </ion-button>
    </ion-buttons>
    <ion-title><h1>A Propos De Nous</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-content>
  <h1 style="margin-left: 15px;"> Application DocHealth &copy; </h1><br><br><br>
  <img class="im" src="./assets/img1.png" >
  <br>
  <p>Version 0.0.1 <br>
  Janvier 2021</p>
  <br>
  <br><br>
  Nous avons fait le choix de créer un carnet de santé d'une part pour répondre aux différents besoins ou envies d nos client et d'autre part, pour pouvez sauvegarder les informations médicales 
<br>
  <h2>Conception et développement</h2>
  l'équipe : LAKHAL Ikram & Zaineb BELAID <br>
  De ESTSB<br>
  <img class="est" src="./assets/ESTSB.png"><br>
  
 
</ion-content>
