ion-header {

  ion-toolbar,
  ion-item {
    --background: #ffffff;
    background: rgba(83, 236, 247, 0.719);
    padding: 10px;
  }

  ion-toolbar {
    .bordered {
      --color: #1013d3;
      --border-radius: 10px;
      --box-shadow: 5px 5px 10px #000000, -5px -5px 10px #dbf1f3;
    }
  }

  ion-title {
    color: rgb(22, 2, 114);
    text-align: center;
  }
}

ion-content {
  --background: linear-gradient(90deg, rgba(219, 225, 240, 0.719) 0%, rgba(168, 183, 240, 0.719) 35%, rgba(123, 150, 247, 0.719) 100%);

  .im {
    border: rgb(22, 2, 114);
    border-style: solid;
    border-radius: 50%;
    margin-left: 70px;
    width: 200px;
    height: 100px;
    background-position: center;
    filter: invert(1%) sepia(1%) saturate (1%) hue-rotate(1deg) brightness(1000%) contrast(80%);
  }

  .est {
    width: 3000px;
    height: 100px;
    background-position: 100%;

  }

  h2 {
    margin-left: 5%;
  }

  p,
  h1 {
    animation-duration: 3s;
    animation-name: slidein;

    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: -10%;
    font-style: oblique;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      wight: 300%
    }

    to {
      margin-left: 0%;
      width: 100%;
    }

  }
}