<ion-header>
  <ion-toolbar>
    <ion-title>rendezVous</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>
<ion-title>
  {{ currentMonth }}
</ion-title>
<calendar id="myCalendar"
  locale="fr-FR"
  calendarMode="month" 
  startHour="6"
  endHour="20"
  step="30"
  startingDayWeek="1"
  [currentDate]="currentDate"
  (onTitleChanged)="onViewTitleChanged($event)">
</calendar>


</ion-content>
