ion-header {

  ion-toolbar,
  ion-item {
    --background: #ffffff;
    background: rgba(83, 236, 247, 0.719);
    padding: 10px;
  }

  ion-toolbar {
    .bordered {
      --color: #1013d3;
      --border-radius: 10px;
      --box-shadow: 5px 5px 10px #000000, -5px -5px 10px #dbf1f3;
    }
  }

  ion-title {
    color: rgb(22, 2, 114);
    text-align: center;
  }

  ion-item {
    h3 {
      font-weight: 700;
      font-size: 14px;
    }

  }
}

ion-content {

  --background: linear-gradient(90deg, rgba(205, 217, 245, 0.719) 0%, rgba(156, 174, 238, 0.719) 35%, rgba(91, 124, 241, 0.719) 100%);
}