<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button class="bordered">
        <ion-menu-button menu="main-menu">
        </ion-menu-button>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="bordered" fill="solid" color="blue">
        <ion-icon color="custom" name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title><h1>DocHealth</h1></ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
      
</ion-content>
