ion-slides{
    
    height: 100%;
}
ion-icon {
  font-size: 64px;
  color: #ffff;
}
ion-slide{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

}
ion-slide p{
    color:#ffff;
    font-size:30px;
}
ion-button.ion-color.ion-color-danger.md.button.button-solid.ion-activatable.ion-focusable.hydrated {
    font-size: 20px;
}